<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here is the record of all users</h1>
    <table border="1px solid red">
        <tr>
            <td>id</td>
            <td>username</td>
            <td>email</td>
        </tr>
        <% for(user of data) { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.email %>
                </td>
            </tr>
         <% } %>
    </table>
</body>

</html>